/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(AdobeStock_1531497568.jpeg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
	background-color: rgb(255 255 255);
	max-width: 87rem;
	margin: auto; 
}

div.container { 
	position: relative;
	min-height: 100vh;
	background-color: rgb(255 255 255);
	max-width: 87rem;
	margin: auto; 
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */

body {  
	font-family: "meiryo-ui", sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color:rgb(140, 154, 76);
}

main { 
	padding: 1em 2em 6em;
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background: rgb(140, 154, 76);
	padding: 1.5em 1.5em;
	}

h1 {
	width: 16em;
	}

h2, h3, h4 {
		font-weight: bold;
	}

h2 {
	font-size: 1.5em;
	margin: 1em 0em 0.5em;
	font-family: "komet-sc", sans-serif;
	font-weight: 700;
	font-style: normal;
	color: rgb(57, 99, 15);
	}
	
h3 {
	font-size: 1.2em;
	margin: 1em 0em 0.5em;
}

h4{ 
	color: rgb(57, 99, 15);
}


a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	}

nav ul li.selected a {
	color: rgb(255, 255, 255);
	background-color: rgb(57, 99, 15);
	border-radius: 15px;
}


ul li 	{
	list-style-type: none;
}

figure {
	margin-bottom: 1em;
}

main.menu ul {
		margin: 2em 0em;
}	

main.menu ul li {
		margin: 1em 0em 2em;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
}	

p {
	margin: 1em 0em 1em;

	}
	
p.description {
	grid-column: 1/3;
	margin: 0em;
	}
	
p.price {
	grid-row: 1/2;
	grid-column: 2/3;
	color: rgb(140, 154, 76);
	text-align: right;
	margin: 0em;
	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1em;
	}
	
nav ul li a {
	padding: 0.4em 0.5em 0.4em;
	font-family: "komet-sc", sans-serif;
	font-weight: 700;
	font-style: normal;
	color: rgb(48, 83, 13);
	}
	

p.slogan {
	font-family: "komet-sc", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 4em;
	margin: 1em 0em 1em 0.5em; 
	color: rgb(57, 99, 15);	
	}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 0.75em 1em;
}

address { 
	margin: 0em 0em 0em 2em;
	}

footer p {
	margin: 0em;
}

@media screen and (min-width: 60em) {
main.menu ul{
display: grid;
grid-template-columns: auto auto;
grid-column-gap: 6em;
}

ul {
	display: grid;
	grid-template-columns: repeat (4, 1fr);
}
nav ul {
	display: grid;
	font-size: 1.5rem;
	grid-template-columns: repeat(3, auto);
	grid-gap: 0 0.75rem;
	justify-content: end;
	margin: 1.5em 0em 0em 0em;
}

}
article{
	max-width: 30rem;
	margin: auto;  
}